$color-red: #ff0000;
$color-red-second: #f77777fb;
$color-green: #64e352;
$color-green-second: #b8f3a8;
$color-grey: #e4e4e4;
$color-purple: #9518c2;
$color-purple-second: #f2e6f7;
$color-white: #ffffff;
$color-black: #1e1e1e;
$color-blue: #85f0f0;
$color-blue-second: #e1fafe;
$color-yellow: #fbed83;
$color-yellow-second: #faf5cf;
$color-danger: #ffc433;

$large-tablet-screen: 1400px;
$mobile-screen: 600px;