@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.jobs {
    width: 60%;

    .tableBody {
       @include tableBodyStyle;
       background: $color-blue-second;

        .tableTitle {
            background: $color-blue;
            color: $color-black;
        }

        .connectButton {
            @include buttonStyle;
            background: $color-green;
        }

        .disconnectButton {
            @include buttonStyle;
            background: $color-red;
        }

       .statusPending {
            background: $color-danger;
       }

       .statusCompleted {
            background: $color-green-second;
       }

       .wrapperButton {
            display: flex;
            justify-content: center;
       }
    }
}

@media only screen and (max-width: $large-tablet-screen) {
    .jobs {
        width: 100%;
    }
}


@media only screen and (max-width: $mobile-screen) {
    .jobs {
        width: $mobile-screen;
    }
}
