@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.connectedCables {
    width: 38%;

    .tableBody {
       @include tableBodyStyle;
       background: $color-yellow-second;

        .tableTitle {
            background: $color-yellow;
            color: $color-black;
        }
    }
}

@media only screen and (max-width: $large-tablet-screen) {
    .connectedCables {
        flex-direction: column;
        width: 80%;
        margin: 36px auto;
    }
}

@media only screen and (max-width: $mobile-screen) {
    .connectedCables {
        width: $mobile-screen;
    }
}
