@import "./src/assets/scss/colors";
@import "./src/assets/scss/mixins";

.connectedCables {
    width: 40%;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 24px;

    .tableBody {
       @include tableBodyStyle;
       background: $color-yellow-second;

        .tableTitle {
            background: $color-yellow;
            color: $color-black;
        }
    }
}

@media only screen and (max-width: $small-screen) {
    .connectedCables {
        width: 50%;
        margin: 24px 0px 0px 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .connectedCables {
        width: 100%;
        margin: 24px 0px 0px 0px;
    }
}
