@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.connectedCables {
    width: 40%;
    // overflow-x: auto;
    // white-space: nowrap;
    margin-left: 24px;

    .tableBody {
       @include tableBodyStyle;
       background: $color-yellow-second;

        .tableTitle {
            background: $color-yellow;
            color: $color-black;
        }
    }
}

@media only screen and (max-width: $small-screen) {
    .connectedCables {
        width: 50%;
        margin: 36px 0px 36px 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .connectedCables {
        width: 600px;
        // margin: 36px 0px 36px 0px;
    }
}
