@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.hideSelect {
  display: none;
}

.showSelect {
  display: inline;
  @include buttonStyle;
  background: $color-green;
  text-align: center;
  appearance: none;
  font-size: 16px;

  &:focus{
    outline: none;
  }
}

.noAvailableDevicesText {
  color: $color-red-second;
  pointer-events: none;
}
