@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.select {
  @include buttonStyle;
  background: $color-green;
  text-align: center;
}

select option {
  color: $color-black;
  font-size: 16px;
}

select:focus{
  outline: none;
}

.noAvailableDevicesText {
  color: $color-red-second;
}
