@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.deviceABC1 {
    width: 100%;

    .tableBody {
       @include tableBodyStyle;
       background: $color-purple-second;

       .tableTitle {
            background: $color-purple;
       }

       .wrapperButton {
            display: flex;
            justify-content: center;
            justify-content: baseline;

            .hideSelect {
                display: none;
            }
       }
    }
}

@media only screen and (max-width: 700px) {
    .deviceABC1 {
        width: 600px;
        margin: auto;
    }
}
