@import "./src/assets/scss/variables";
@import "./src/assets/scss/mixins";

.deviceTable {
    width: 100%;

    .tableBody {
       @include tableBodyStyle;
       background: $color-purple-second;

       .tableTitle {
            background: $color-purple;
       }

       .wrapperButton {
            display: flex;
            justify-content: center;
            justify-content: baseline;

            .hideSelect {
                display: none;
            }
       }
    }
}
